* {
    margin: 0;
    padding: 0;
}

html, body {
    /* making html and body 100% of the browser widhth and height */
    width: 100vw;
    height: 100vh;

    font-family: Helvetica, Arial, sans-serif;
}

#holder {
    background-image: url(images/backgrounds/afternoon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    position: relative;

    /* holder 100% of the  widhth and height of body */
    width: 100%;
    height: 100%;
}

#info {
    position: absolute;
    top: 50px;
    left: 5%;
}


h1 {
    color: white;
    font-size: 2.5em;

    filter: drop-shadow(1px 1px 3px black);
    -webkit-filter: drop-shadow(1px 1px 3px black);

}

#infoBox {
    background-color: rgba(256, 256, 256, .5);
    padding: 20px;
    border-radius: 20px;
    width: fit-content;
    margin-top: 2em;
}

#infoBox p {
    padding: 0.5em;
}

#figure {
    position: absolute;
    bottom: 0px;
    right: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}