
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Helvetica, Arial;
    color: black;
}

header {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    font-size: 2em;
}

#iconSection {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 2em;
    gap: 1em;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 1 calc(20% - 1em);
    word-wrap: break-word; 
    font-size: 2em;
}

a {
    text-decoration: none;
    color: black;
}

.icon:hover a{
    font-weight: bold;
}

img {
   transition: transform 0.2s ease-in-out;
}

.icon:hover img {
    transform: scale(0.95);
    transition: transform 0.2s ease-in-out;
}

.icon img {
    width: 100%;  /* Ensures the image scales with the width of the container */
    height: auto;
}


footer h2 {
    margin-top: 3em;
    font-weight: normal;
    text-align: center;
    font-size: 1.5em;
}


/* Media Queries */

/* default for large screens */
@media (min-width: 961px){
    #iconSection {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .icon {
        flex: 0 1 auto;  /* Prevent the icons from stretching */
        font-size: 1em;
    }

}

/* shrink text to fit on screen */
@media (min-width: 961px) and (max-width: 1270px){
    .icon {
        font-size: .88em;
    }
}

/* for medium screens (481px to 960px) */
@media (min-width: 481px) and (max-width: 960px) {
    #iconSection {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .icon {
        flex-basis: calc(20% - 1em);  /* 5 icons per row, adjust the space between */
        font-size: 1em;
    }
}

/* shrink text to fit on screen */
@media (max-width: 760px) {
    .icon {
        font-size: .86em;
    }
}

/* for small screens (480px and smaller) */
@media (max-width: 480px) {
    header {
        font-size: 1.45em;
    }

    #iconSection {
        flex-direction: column;
        align-items: center;
    }

    .icon {
        flex-basis: 100%;  /* One icon per row */
        font-size: 1em;
    }

    .icon img {
        height: 180px;
        width: auto;
    }
}